
<footer class="footer text-center text-lg-start text-light">

    <div class="d-flex justify-content-between">
        <section class="w-50">
            <div class="container text-md-start mt-5 w-50">


                <div class="d-flex justify-content-center ms-5">
                    <h3 class="text-black mt-2">Wind</h3>
                    <h6 class="textStores text-info">Stores</h6>
                </div>
                <p class="text-center ">
                    Notre plateforme vise à créer une expérience d'achat fluide, offrant une gestion de commandes
                    optimisée.
                </p>

            </div>
        </section>

        <section class=" d-flex justify-content-end align-items-center w-50">

            <div class="flex inline-flex w-50 ms-5">
                <img src="../../../assets/linkedIn.png" class="h-6  mx-2">
                <img src="../../../assets/facebook.png" class="h-6 mx-2">
                <img src="../../../assets/instagram.png" class="h-6 mx-2">
                <img src="../../../assets/twitter.png" class="h-6 mx-2">
            </div>

        </section>
    </div>

    <div class="text-center p-4 text-info">
        © 2024 Copyright : 
        <a class="text-reset fw-bold" href="https://wind-consulting-tunisia.com/">WindConsulting.com</a>
    </div>

</footer>