.list{
    position: absolute;
    top: 5%;
    left: 250px;
    right: 0;
    margin: 3%;
    width: 75%;
    margin-top: 110px;

}
.password{
    width: 95%;
}

.edit:active{
    border: 0;
}

.btnn{
    background-color: #0dcaf0;
    box-shadow: 0 5px 5px #025e7044;
    height: 50px;
  }
  .btnn:hover{
    box-shadow: 0 0px 10px #0dcaf0;
  }
  .btnn:active{
    background-color: #0dcaf0;
  }
