.list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 3%;
}
.styleAdmin{
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    padding-left: 15%;
    padding-top: 9%;
}
.styleUser{
    position: absolute;
    top: 3%;
    right: 0;
    left: 0;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 10%;
}

.btnn{
    background-color: #0dcaf0;
    box-shadow: 0 5px 5px #025e7044;
    height: 50px;
  }
  .btnn:hover{
    box-shadow: 0 0px 10px #0dcaf0;
  }
  .btnn:active{
    background-color: #0dcaf0;
  }
  